<h1>SOLSUPREME</h1>
<div  class="surya right">
    <img src="/images/rsz_3surya.png" alt="Surya" height="78%" width="78%">
</div>
<div  class="left">
	<h2 class="article-h2">Read and be enlightened.</h2>
	<h4 class="article-h4">The sun shines on everyone.</h4>
</div>
<div class="inline">
<h3 class="article-h3">Eating well is a change in lifestyle.</h3>
<p class="article-p">by Bruno Baba, SolSupreme</p>
<p class="article-body">You are what you eat or you eat what you are? Both go hand-in-hand. One has to transform their life inorder to live a healthy lifestyle. This requires time and study. </p>

<h3 class="article-h3">The power of good company.</h3>
<p class="article-p">by Bruno Baba, SolSupreme</p>
<p class="article-body">Good company makes us good. Bad company makes us bad. We should always strive to seek good company. What is good company? That which helps us become more loving, peaceful, etc.</p>

<h3 class="article-h3">Life after death, a spiritual awakening.</h3>
<p class="article-p">by Bruno Baba, SolSupreme</p>
<p class="article-body">In this article we will revisit life after death from a modern perspective. We will take knowledge from ancient texts like the "Tibetan Book of the Dead"</p>
</div>
<!-- <footer>Sign up to our mailing list : <a class="no-underline" href="#">Om</a>.</footer> -->