<h1>SOLSUPREME</h1>
<div  class="surya right">
    <img src="/images/rsz_3surya.png" id="surya" name="surya" class="paused" alt="surya" height="78%" width="78%" onmouseover="playAudio()">
</div>
<audio>
  <source src="/audio/om.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<div  class="left">
	<h2 class="article-h2">Read and be enlightened.</h2>
	<h4 class="article-h4">The sun shines on everyone.</h4>
</div>
<div class="inline">
<h3 class="article-h3">The Mind (Part 1)</h3>
<p class="article-p">by Swami Bhagavatananda Saraswati</p>
<p class="article-body">
Mind is a mystery,  a great wonder. Indeed the mind is an unique creation of Parameswar (The Lord). Every mind is unique and extraordinary - its abilities are unimaginable and infinite.

<p>The mind which is created by God, tries to comprehend the infinite. It seeks Him, and one day will know Him. It is a great ability of the human mind.</p>

<p>Mind is an excellent gift for mankind. But we should learn how to use the mind. If we make use of it, it can help us reach the pinnacle of success or it can plunge ourselves into hell. We can 'will' ourselves to enlightened heights or throw ourselves into awful darkness. Our mind can help or destroy lives. With this mind one can make oneself a Devata (God) or a devil, can be a hero or zero.</p>

<p>Scripture says this mind alone is the cause of our bondage and liberation.</p>
</p>
</div>
<footer>Sign up to our mailing list : <a class="no-underline" href="http://eepurl.com/bsDAnr" target="_blank">Om</a>.</footer>