<h1> PRANA YOGA: ALL LEVELS WELCOME</h1>
<div class="email">
    <p>hello@prana.com</p>
    <p>(123) 436-7890</p>
</div>
<div class="location">
    <p>123 address</p>
    <p>city, state, zip</p>
</div>
<h2>SCHEDULE</h2>
<table border="3" style="width:80%">
    <tr>
        <td>May 8th 7pm</td>
        <td>Vinyasa Yoga</td>
        <td>Bruno</td>
        <td>Sign up</td>
    </tr>
    <tr>
        <td>May 9th 6pm</td>
        <td>Flow Yoga</td>
        <td>Lee</td>
        <td>Sign up</td>
    </tr>
    <tr>
        <td>May 10th 5pm</td>
        <td>Slow Flow</td>
        <td>Bruno</td>
        <td>Sign up</td>
    </tr>
    <tr>
        <td>May 11th 6pm</td>
        <td>Strong Yoga</td>
        <td>Lee</td>
        <td>Sign up</td>
    </tr>
</table>
<h3>EVENTS</h3>
<div class="section group">
<div class="col span1">
    <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
</div>
<div class="col span2">
    <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
</div>
<div class="section group 2">
    <div class="col span1">
        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
    </div>
    <div class="col span2">
        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
    </div>
</div>
<footer>Sign up to our mailing list : <a href="mailto:someone@example.com">someone@example.com</a>.</footer>